<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyulong.blog.main.mapper.operation.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liyulong.blog.main.pojo.operation.Category">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="rank" property="rank" />
        <result column="parent_id" property="parentId" />
    </resultMap>
    <select id="queryAll" parameterType="Map" resultType="com.liyulong.blog.main.pojo.operation.Category">
        select c1.*,c2.name as parentName from category c1 left join category c2 on c1.parent_id = c2.id
        <where>
            <if test="name != null and name != ''">
                c1.name like concat('%',#{name},'%')
            </if>
            <if test="type != null and type != ''">
                c1.type = #{type}
            </if>
        </where>
    </select>

</mapper>
