<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyulong.blog.main.mapper.operation.RecommendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liyulong.blog.main.pojo.operation.Recommend">
        <id column="id" property="id" />
        <result column="link_id" property="linkId" />
        <result column="type" property="type" />
        <result column="order_num" property="orderNum" />
        <result column="title" property="title" />
        <result column="top" property="top" />
    </resultMap>
    <select id="listSeclect" resultType="com.liyulong.blog.main.pojo.operation.vo.RecommendVO">
        select a.id as linkId, a.title, 0 as type
        from article a
    </select>

</mapper>
