<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyulong.blog.main.mapper.operation.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liyulong.blog.main.pojo.operation.Tag">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
    </resultMap>

    <delete id="deleteTagLink">
        delete from tag_link tl
        where tl.link_id = #{linkId} and tl.type = #{type}
    </delete>

    <select id="listByLinkId" resultType="com.liyulong.blog.main.pojo.operation.Tag">
        select t.* from tag t left join tag_link tl on tl.tag_id = t.id
        <where>
            <if test="linkId != null">
                and tl.link_id = #{linkId}
            </if>
            <if test="type != null">
                and t.type = #{type}
            </if>
        </where>
    </select>

    <select id="listTagVo" resultType="com.liyulong.blog.main.pojo.operation.vo.TagVO">
        select t.name ,sum(t.num) as linkNum from (
          select distinct t.type, t.name, (select count(*) from tag_link tl2 where tl2.tag_id = t.id) as num
          from tag t
          left join tag_link tl on t.id = tl.tag_id and t.type = tl.type) t
        group by t.name
    </select>


</mapper>
