<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyulong.blog.main.mapper.operation.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liyulong.blog.main.pojo.operation.Tag">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
    </resultMap>
    <select id="listByLinkId" resultType="com.liyulong.blog.main.pojo.operation.Tag">
        select t.* from tag t left join tag_link tl on tl.tag_id = t.id
        <where>
            <if test="linkId != null">
                and tl.link_id = #{linkId}
            </if>
            <if test="type != null">
                and t.type = #{type}
            </if>
        </where>
    </select>


</mapper>
