<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyulong.blog.main.mapper.timeline.TimelineMapper">

    <select id="listTimelinePost" resultType="com.liyulong.blog.main.pojo.timeline.TimelinePost">
         select *  from (
              select a.id,a.title,a.description,a.create_time,'article' as postType
              from article a
              where DATE_FORMAT(a.create_time,'%Y')=#{year} and DATE_FORMAT(a.create_time,'%m')=#{month} and a.publish = 1
              )
    </select>

<!--    todo:别名问题-->
    <select id="listTimeline" resultType="com.liyulong.blog.main.pojo.timeline.Timeline">
        select t.year,count(t.year) as `count` from (
                      select a.id,a.title,a.description,a.create_time,DATE_FORMAT(a.create_time,'%Y') as year
                      from article as a
                      where a.publish = 1
                      ) t group by t.year order by t.year desc
    </select>

</mapper>
